@use "../../assets/styles/variables.scss" as v;
@use "../../assets/styles/mixins.scss" as mixins;

.bannerContainer {
    position: relative;
    overflow: hidden;
}

.bgTextParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    padding: 1rem .75rem;
    margin-bottom: 4rem;
    height: calc(85dvh - 86px);

    @include mixins.responsive(mobile) {
        height: calc(75dvh - 86px);
        margin-bottom: 1.75rem;
    }

    @include mixins.responsive(tablet) {
        margin-bottom: 2.15rem;
    }
}

.txtContainer {
    position: relative;
    overflow: hidden;
}

.text {
    display: inline-block;
    font-size: 16vw;
    font-weight: 500;
    line-height: .75;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: var(--font-bigRiver);
}

.cardContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 89;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.cardParent {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardChild {
    position: relative;
    width: 275px;
    height: 400px;
    perspective: 1000;
    margin: auto;

    @include mixins.responsive(mobile) {
        width: 175px;
        height: 225px;
    }

    @include mixins.responsive(tablet) {
        width: 200px;
        height: 250px;
    }
}

.card {
    border-radius: .5rem;
    backface-visibility: hidden;
}

.whiteContainer {
    position: relative;
    background-color: v.$primary-color;
    color: v.$secondary-color;
    padding: 0 3rem;
    border-radius: .5rem;

    @include mixins.responsive(mobile) {
        padding: 0 1rem;
    }

}

.aboutParent {
    padding: 6rem 0;

    @include mixins.responsive(mobile) {
        padding: 2.5rem 0;
    }

    @include mixins.responsive(tablet) {
        padding: 4.5rem 0;
    }

    @include mixins.responsive(laptop) {
        padding: 4.5rem 0;
    }
}

.aboutChild {
    width: 100%;
    max-width: 800px;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;

    p {
        font-family: var(--font-satoshi);
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
    }

    @include mixins.responsive(tablet) {
        p {
            font-size: 2.25rem;
        }
    }

    @include mixins.responsive(mobile) {
        p {
            font-size: 1.875rem;
        }
    }
}

.downArrow {
    position: absolute;
    top: -16%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: scale(0.5);
    border: 1px solid black;
}

.projectTxtContainer {
    width: 100%;
    max-width: 450px;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;

    p {
        font-family: var(--font-satoshi);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.45;
    }

    @include mixins.responsive(mobile) {
        p {
            font-size: 1.2rem;
            line-height: 1.85;
        }
    }
}

.projectParent {
    position: relative;
    border-bottom: 1px solid v.$tertiary-color;
}

.projectChild,
.projectChildMD {
    display: grid;
    align-items: center;
    padding: 4rem 1rem;

    @include mixins.responsive(mobile) {
        padding: 1.5rem 1rem;
    }

    @include mixins.responsive(tablet) {
        padding: 3rem 1rem;
    }
}

.projectChild {
    grid-template-columns: 2fr 1fr 1fr;
}

.projectChildMD {
    grid-template-columns: 1fr 1fr 2fr;
    gap: 1rem;

    @include mixins.responsive(mobile) {
        grid-template-columns: 1fr;
        gap: 1.25rem;
    }

}

.projectName {
    order: 1;
    color: white;

    @include mixins.responsive(mobile) {
        order: 2;
    }

    h3 {
        font-family: var(--font-bigRiver);
        font-size: 3.25rem;
        letter-spacing: -.09rem;
        line-height: 1;
        text-transform: uppercase;
    }

    @include mixins.responsive(mobile) {
        h3 {
            font-size: 1.25rem;
        }
    }

    @include mixins.responsive(tablet) {
        h3 {
            font-size: 2rem;
        }
    }
}

.projectCategory {
    order: 2;
    color: white;

    @include mixins.responsive(mobile) {
        order: 3;
    }

    p {
        font-size: .8rem;
        font-family: var(--font-satoshi);
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.05rem;
    }
}

.projectImage {
    order: 3;

    @include mixins.responsive(mobile) {
        order: 1;
    }
}

.projectImage img {
    border-radius: .5rem;
}

.servicesHeader {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 8rem 0;

    p {
        font-size: 1.4rem;
        font-family: var(--font-satoshi);
        line-height: 1.45;
    }

    @include mixins.responsive(mobile) {
        p {
            font-size: 1rem;
        }
    }

    @include mixins.responsive(mobile) {
        padding: 2rem 0;
    }

    @include mixins.responsive(tablet) {
        padding: 4rem 0;
    }
}

.servicesTextContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.serviceContainerParent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0 6rem;

    @include mixins.responsive(mobile) {
        grid-template-columns: repeat(1, 1fr);
    }

    @include mixins.responsive(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.serviceContainerParent .serviceChild:nth-of-type(1) {
    border-right: 1px solid v.$gray-color;

    @include mixins.responsive(mobile) {
        border-right: 1px solid transparent;
    }
}

.serviceContainerParent .serviceChild:nth-of-type(2) {
    border-right: 1px solid v.$gray-color;

    @include mixins.responsive(mobile) {
        border-right: 1px solid transparent;
    }
}

.serviceChild {
    padding: 0 1.5rem;

    @include mixins.responsive(laptop) {
        padding: 0 1rem;
    }

}

.serviceContent p:first-child {
    font-size: 1rem;
    font-family: var(--font-satoshi);
    font-weight: 500;
    margin-bottom: 6rem;
}

.serviceContent h3 {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--font-satoshi);
    margin-bottom: .5rem;
}

.serviceContent p {
    font-size: 1.15rem;
    font-weight: 500;
    font-family: var(--font-satoshi);
    line-height: 1.5;
    margin-bottom: .5rem;
}

.serviceContentImg img {
    border-radius: .5rem;
}

.quotePaddigTb {
    padding-bottom: 5rem;
}

.quoteParent {
    width: 100%;
    height: 100vh;
    background-color: v.$bg-color;
    border-radius: .75rem;
}

.sliderParent {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 550px;
    height: 100%;
    margin: 0 auto;

    @include mixins.responsive(mobile) {
        max-width: 350px;
    }
}

.sliderContentContainer {
    border-radius: .5rem;
    background-color: v.$primary-color;
    width: 100%;
}

.sliderContent {
    padding: 2rem 2rem;

    p:first-child {
        font-size: 1.5rem;
        font-weight: 400;
        font-family: var(--font-satoshi);
        text-align: center;
        line-height: 1.5;
    }

    @include mixins.responsive(mobile) {
        p:first-child {
            font-size: 1rem;
        }
    }

    @include mixins.responsive(mobile) {
        padding: 2rem 1rem;
    }
}

.sliderAuthor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem 0;

    @include mixins.responsive(mobile) {
        gap: .5rem;
    }
}

.saAuthorTxt {
    display: flex;
    flex-direction: column;
    font-size: 1.15rem;
    letter-spacing: 0.010rem;
    font-family: var(--font-satoshi);

    span {
        font-size: .90rem;
    }

    @include mixins.responsive(mobile) {
        font-size: 1rem;
    }
}

.sliderBtn {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sliderBtnLeft,
.sliderBtnRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    padding: 1rem;
    font-size: .90rem;
    font-weight: 500;
    background-color: transparent;
    border-bottom: none;
    cursor: pointer;
}

.sliderBtnLeft,
.sliderBtnRight {

    svg {
        transition: .3s ease-in-out;
        transform: translateX(0);
    }
}

.sliderBtnLeft {
    border-bottom-left-radius: .5rem;
    border-top: 2px solid v.$gray-color;
    border-right: 1px solid v.$gray-color;
    border-left: none;
}

.sliderBtnLeft {

    &:hover {
        svg {
            transform: translateX(-4px);
        }
    }
}


.sliderBtnRight {
    border-bottom-right-radius: .5rem;
    border-top: 2px solid v.$gray-color;
    border-left: 1px solid v.$gray-color;
    border-right: none;
}

.sliderBtnRight {

    &:hover {
        svg {
            transform: translateX(4px);
        }
    }
}