@use "../../../assets/styles/mixins.scss" as mixins;

.headTxtParent{
    padding: 1rem 0 3rem;

    @include mixins.responsive(mobile){
        padding: 1rem 0 1rem;
    }

}

.headTxtContainer {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.text {
    display: inline-block;
    font-size: 13.5vw;
    font-weight: 500;
    line-height: .89;
    text-transform: uppercase;
    font-family: var(--font-bigRiver);
    white-space: nowrap;
    letter-spacing: -.35vw;

    @include mixins.responsive(largeScreen){
        font-size: 10.5vw;
    }
}