.headTxtParent{
    padding-bottom: 3rem;
}

.headTxtContainer {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.text {
    display: inline-block;
    font-size: 12vw;
    font-weight: 500;
    line-height: .75;
    text-transform: uppercase;
    font-family: var(--font-bigRiver);
    white-space: nowrap;
}